<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/student/update}" th:object="${student}"
      method="POST" novalidate="novalidate">
  <input type="number" th:field="*{id}"/>
  <div>
    <label>Name</label>
    <input type="text" th:field="*{name}"/>
  </div>
  <div>
    <label>Address</label>
    <input type="text" th:field="*{address}"/>
  </div>
  <div>
    <label>Email</label>
    <input type="email" th:field="*{email}"/>
  </div>
  <div>
    <label>Email</label>
    <input type="image" th:field="*{image}"/>
  </div>
  <input type="submit" value="Edit"/>
</form>
</body>
</html>