<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/student/create}">Create new Student</a>
<h1>List Student</h1>
<table>
  <tr>
    <td>#</td>
    <td>Name</td>
    <td>address</td>
    <td>email</td>
    <td>Image</td>
    <th>Delete</th>
    <th>edit</th>


  </tr>
  <tr th:each="student : ${students}">
    <td th:text="${student.id}"></td>
    <td th:text="${student.name}"></td>
    <td th:text="${student.address}"></td>
    <td th:text="${student.email}"></td>
    <td><img width="150" height="150" th:src="@{'/img/' + ${student.image}}"></td>
    <td><a th:href="@{student/{id}/delete(id=${student.id})}">delete</a></td>
    <td><a th:href="@{student/{id}/update(id=${student.id})}">update</a></td>
  </tr>
</table>
</body>
</html>